.container-login {
  height: 100%;
  display: flex;

  .btn {
    font-weight: 700;
  }

  .logo {
    height: 100%;
    width: 73%;
    z-index: 1;
  }
  .box-center {
    position: absolute;
    height: 100%;
    width: 73%;
    background-color: #7db7f1;
    right: 0;
  }
  .login-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .box-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 8px;

      .icon-visib {
        position: absolute;
        top: 9px;
        right: 24px;
      }

      .input {
        margin-top: 8px;

        .box-conta {
          margin-top: 8px;
          .span-conta {
            font-size: 15px;
            .mouse {
              cursor: pointer;
            }
          }
        }
      }

      .span-teste {
        font-weight: 600;
        color: rgb(253, 140, 2);
        margin-bottom: 7px;
      }
    }
    form {
      button {
        width: 100%;
      }
    }

    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    margin: auto 60% auto 0;
    width: 22%;
    height: 28rem;
    background-color: white;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 12%);
    border-radius: 10px;
    z-index: 1;
    min-width: 300px;
  }
}

.roboto {
  font-family: 'Roboto Slab', sans-serif !important;
}

@media (max-width: 1420px) {
  .container-login {

    .box-center {
      width: 65%;
    }
    .login-box {

    }
  }
}

@media (max-width: 1120px) {
  .container-login {

    .box-center {
      width: 55%;
    }
    .login-box {

    }
  }
}

@media (max-width: 860px) {
  .container-login {

    .box-center {
      width: 45%;
    }
    .login-box {

    }
  }
}

@media (max-width: 710px) {
  .container-login {

    .box-center {
      width: 55%;
    }
    .login-box {
      left: 170px;
    }
  }
}

@media (max-width: 530px) {
  .container-login {

    .box-center {
      width: 55%;
    }
    .login-box {
      left: 80px;
    }
  }
}

@media (max-width: 400px) {
  .container-login {

    .box-center {
      width: 55%;
    }
    .login-box {
      left: 30px;
    }
  }
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

::ng-deep .error .mdc-snackbar__surface::before {
  background-color: rgb(228, 53, 47);
}

::ng-deep .error .mdc-snackbar__label {
  z-index: 50;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white !important;
  font-weight: 600 !important;
}

::ng-deep .success .mdc-snackbar__surface::before {
  background-color: rgb(50, 164, 15);
}

::ng-deep .success .mdc-snackbar__label {
  z-index: 50;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white !important;
  font-weight: 600 !important;
}

