.form {
  div {
    margin-bottom: 8px;
  }

  .col-form-label {
    margin-bottom: -8px;
    font-size: 15px;
  }
}

.modal-body {
  font-weight: 500;

  .header-modal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 14px;
  }
}

.modal-title {
  color: #6b6a6a;
}

.btn-color {
  background-color: rgb(253, 140, 2);
  border: none;
  margin-left: 12px;
}

.inputFile {
  width: 409px;
  margin-top: 4px;
  margin-left: -17px;
  margin-bottom: -13px;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

