// -----------------------------------------------------------------------------------------------------
@use '@angular/material' as mat;
// @ Importation
// -----------------------------------------------------------------------------------------------------

/*
 * Post that can help you change and manipulate the theme
 * https://material.angular.io/guide/typography
 * https://stackoverflow.com/questions/43438305/how-to-change-font-color-of-primary-palette-in-angular-material2/46157803#46157803
 */

 @import '@angular/material/theming';

 // -----------------------------------------------------------------------------------------------------
 // @ Typography
 // -----------------------------------------------------------------------------------------------------

 /* Example example to change typography */
 //$typography: mat-typography-config(
 //  $font-family: 'Proxima Nova Alt Bold, sans-serif',
 //  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
 //  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
 //  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
 //  $display-1:     mat-typography-level(34px, 40px, 400),
 //  $headline:      mat-typography-level(24px, 32px, 400),
 //  $title:         mat-typography-level(20px, 32px, 500),
 //  $subheading-2:  mat-typography-level(16px, 28px, 400),
 //  $subheading-1:  mat-typography-level(15px, 24px, 400),
 //  $body-2:        mat-typography-level(14px, 24px, 500),
 //  $body-1:        mat-typography-level(14px, 20px, 400),
 //  $caption:       mat-typography-level(12px, 20px, 400),
 //  $button:        mat-typography-level(14px, 14px, 500),
 //    // Line-height must be unit-less fraction of the font-size.
 //  $input:         mat-typography-level(inherit, 1.125, 400)
 //);
 //
 //@include mat-core($typography);

 // -----------------------------------------------------------------------------------------------------
 // @ Importation
 // -----------------------------------------------------------------------------------------------------

 // Import of the whole core content of the Material Theme
 // It's important to remember, however, that the mat-core mixin should only ever be included once.
 @include mat.core();

 // -----------------------------------------------------------------------------------------------------
 // @ Light Theme
 // -----------------------------------------------------------------------------------------------------

 $light-app-primary: mat.define-palette(mat.$blue-palette, 500, 300, 700);
 $light-app-accent: mat.define-palette(mat.$green-palette, 600, 300, 700);
 $light-app-warn: mat.define-palette(mat.$red-palette, A200);

 $light-app-theme: mat.define-light-theme($light-app-primary, $light-app-accent, $light-app-warn);

 $light-app-font-color: mat.define-palette(mat.$grey-palette, 700); /* #616161 */

 // Foreground palette for light themes.
 // You can play with the map and define only the fields you want and leave the others as default.
 @function main-mat-light-theme-foreground($color) {
   @return (
       base:              $color,
       divider:           $black-12-opacity,
       dividers:          $black-12-opacity,
       disabled:          rgba($color, 0.38),
       disabled-button:   rgba($color, 0.26),
       disabled-text:     rgba($color, 0.38),
       elevation:         black,
       hint-text:         rgba($color, 0.36),
       secondary-text:    rgba($color, 1.00), /* Secondary Text */
       icon:              rgba($color, 1.00), /* Icon Color */
       icons:             rgba($color, 1.00), /* Icons Color */
       text:              rgba($color, 1.00), /* Text Color */
       slider-min:        rgba($color, 0.87),
       slider-off:        rgba($color, 0.26),
       slider-off-active: rgba($color, 0.38),
   );
 }
 // Variable that has the entire foreground palette
 $light-foreground-palette: main-mat-light-theme-foreground(mat.get-color-from-palette($light-app-font-color));

 // Merge app-theme with the foreground
 $light-app-main-theme: map-merge($light-app-theme, (foreground: $light-foreground-palette));

 // Include your custom theme.
 @include mat.all-component-themes($light-app-main-theme);

 // -----------------------------------------------------------------------------------------------------
 // @ Dark Theme
 // -----------------------------------------------------------------------------------------------------

 $dark-app-primary: mat.define-palette(mat.$blue-palette, 500, 300, 700);
 $dark-app-accent: mat.define-palette(mat.$green-palette, 600, 300, 700);
 $dark-app-warn: mat.define-palette(mat.$red-palette, A200);

 $dark-app-theme: mat.define-dark-theme($dark-app-primary, $dark-app-accent, $dark-app-warn);

 $dark-app-font-color: mat.define-palette(mat.$grey-palette, A100); /* #FFFFFF */

 @function main-mat-dark-theme-foreground($color) {
   @return (
     base:              $color,
     divider:           $black-12-opacity,
     dividers:          $black-12-opacity,
     disabled:          rgba($color, 0.38),
     disabled-button:   rgba($color, 0.26),
     disabled-text:     rgba($color, 0.38),
     elevation:         black,
     hint-text:         rgba($color, 0.36),
     secondary-text:    rgba($color, 1.00), /* Secondary Text */
     icon:              rgba($color, 1.00), /* Icon Color */
     icons:             rgba($color, 1.00), /* Icons Color */
     text:              rgba($color, 1.00), /* Text Color */
     slider-min:        rgba($color, 0.87),
     slider-off:        rgba($color, 0.26),
     slider-off-active: rgba($color, 0.38),
   );
 }

 $dark-foreground-palette: main-mat-dark-theme-foreground(mat.get-color-from-palette($dark-app-font-color));

 $dark-app-main-theme: map-merge($dark-app-theme, (foreground: $dark-foreground-palette));

 // Apply the class to change to dark mode
 .dark-mode{
   @include mat.all-component-themes($dark-app-main-theme);
 }

 .mat-tooltip {
   font-size: 14px;
 }

 .mat-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-button.cdk-program-focused .mat-button-focus-overlay, .mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-icon-button.cdk-program-focused .mat-button-focus-overlay, .mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-stroked-button.cdk-program-focused .mat-button-focus-overlay, .mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-flat-button.cdk-program-focused .mat-button-focus-overlay {
   opacity: 0 !important;
 }

 // -----------------------------------------------------------------------------------------------------
 // @ Override
 // -----------------------------------------------------------------------------------------------------

